body {
    background-color:black;
    color: white;
}
#titleheader {
    font-family: "Galdeano";
    text-align: center;
    font-size: 95px;
    font-style: italic;
}
#middleheader {
    font-family: monospace;
    text-align: center;
     font-size: 40px;
    font-style: italic;
    position: relative;
    bottom: 55px;
}
#linkbase {
    display:flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 35px;
}
#Linknodes {
   font-family: monospace;
    text-align: center;
     font-size: 20px; 
     
}
a {
    color:blue;
}