body {
    background-color: black;
    color: white;
}
h1 {
    font-family: monospace;
    text-align: center;
     font-size: 40px;
    font-style: italic;

}
p {
    opacity: 75%;
    font-family: monospace;
    text-align: center;
    font-size: 25px;
}

#Linknodes {
   font-family: monospace;
    text-align: center;
     font-size: 20px; 
     
}
a {
    color:blue;
}